@use '../Constants.scss' as c;


.app-footer {
    padding: 10px;
    padding-bottom: 0px;
}

.app-footer-coloured-dark {
    background-color: c.$app-color-3;
    align-items: center;
}

.app-footer-coloured-light {
    background-color: c.$app-color-4;

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: left;

        a {
            display: block;
            color: black;
            text-align: center;
            padding: 16px;
            text-decoration: none;

            &:hover {
                background-color: c.$app-color-6;
            }
        }
    }
}}