name: Build and publish Docker image of Client-Application

on: workflow_dispatch

env:
  REGISTRY: ghcr.io
  IMAGE-NAME: ${{ github.repository }}/client
  CLIENT_VERSION: 1.0.0

permissions:
  contents: read
  packages: write
  id-token: write
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
  
      - name: Check out repository
        uses: actions/checkout@v5
  
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
  
      - name: Set Docker tag as timestamp
        run: echo "TAG=$(date +'%Y%m%d')" >> $GITHUB_ENV
  
      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
  
      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags:
            type=raw,value=${{ env.TAG }}
          labels: |
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}/tree/main/client
            org.opencontainers.image.title=one-health-client
            org.opencontainers.image.description=Client for One Health
            org.opencontainers.image.licenses=Apache-2.0
            org.opencontainers.image.version=${{ env.CLIENT_VERSION }}
  
      - name: Build and test Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
  #        dockerfile: ./docker/client/client.Dockerfile 
          target: test
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
  
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
  #        dockerfile: ./docker/client/client.Dockerfile
          target: final
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
